<div class="modal-header bg-primary modal-dragable">
    <button type="button" ng-click="close()" class="close"><i class="icons-office-52"></i></button>
    <h4 class="modal-title">{{update ? '更新' : '新增'}}档案节点</h4>
</div>

<div class="modal-body ">
    <form class="form-horizontal m-10" name="FormMaintain">
        <div class="form-group">
            <span class="col-sm-2 p-0"><label class="m-t-10">全宗</label> </span>
            <div class="col-sm-10 ">
                <input class="form-control " type="text" ng-readonly="true"
                       name="FondsNumber"
                       ng-model="nodeInfo.FondsNumber">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 p-0"><label class="m-t-10">类型</label> </span>
            <div class="col-sm-10 " ng-show="update">

                <input class="form-control " type="text" ng-readonly="update"
                       name="archiveTypeName" 
                       ng-model="archiveTypeName">

            </div>
            <div class="col-sm-10 " ng-show="!update">
                <ui-select ng-model="nodeInfo.ArchiveType" theme="select2" search-enabled="false" class="form-control form-white">
                    <ui-select-match placeholder="选择字段类型">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="item.Key as item in archiveType ">
                        <div ng-bind-html="item.Name"></div>
                    </ui-select-choices>
                </ui-select>

                <input class="hide" ng-model="nodeInfo.ArchiveType"
                       name="ArchiveType" validator="required" />
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 p-0"><label class="m-t-10">编号</label> </span>
            <div class="col-sm-10 ">
                <input class="form-control " type="text" ng-readonly="update"
                       ng-class="{'form-white' : !update}"
                       name="Number" validator="required,maxlength=50"
                       ng-model="nodeInfo.Number">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 p-0"><label class="m-t-10">名称</label> </span>
            <div class="col-sm-10 ">
                <input class="form-control form-white" type="text"
                       name="Name" validator="required,maxlength=50"
                       ng-model="nodeInfo.Name">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2 p-0"><label class="m-t-10">备注</label> </span>
            <div class="col-sm-10">
                <input class="form-control form-white" type="text"
                       name="note"
                       ng-model="nodeInfo.Note">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer bg-aero">
    <button type="button"
            validation-submit="FormMaintain"
            ng-click="save()"
            class="btn btn-primary btn-square ">
        <i class="fa fa-save"></i>
        保存
    </button>
</div>