<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-content widget-news" blockui="listPanel" fullheight="panelcontent" scroll="listScroll">

                <div class="message-item media"
                     ng-class="{'bg-aero' : currentCar.ID == car.ID}"
                     ng-repeat="car in carList track by car.ID"
                     ng-show="!normal || car.Status == 1"
                     ng-click="setCurrentCar(car)"
                     ng-repeat-end="listScroll.init()">
                    <div class="media">
                        <div class="media-body">
                            <div class="pull-left">
                                <i class="fa fa-car pull-left"></i>
                            </div>
                            <div>
                                <small class="pull-right">{{car.CreateDate | TDate}}</small>
                                <h5 class="c-dark">{{car.Name}}&nbsp;<span class="badge badge-danger">{{car.Status | enumMap:"CarStatus"}}</span>
                                    &nbsp;<span class="badge badge-primary">{{car.Level | enumMap:"CarLevel"}}</span></h5>
                                <p class="f-12 c-gray" >
                                    车牌：{{car.LicensePlate}} &nbsp;&nbsp; 限座：{{car.PersonCount}}人
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel">
            <div class="panel-content" blockui="viewPanel"
                 fullheight="panelcontent" scroll="viewScroll">
                <div ui-view>
                    
                </div>

            </div>
        </div>
    </div>

</div>