<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> <strong>设计</strong> 任务</h3>
                <div class="control-btn">
                    <span class="pull-right badge badge-primary">12</span>
                </div>
            </div>
            <div class="panel-content widget-news">
                <div class="withScroll mCustomScrollbar _mCS_4" data-height="400" style="height: 400px;">
                    <div class="mCustomScrollBox mCS-light" id="mCSB_4" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                        <div class="mCSB_container" style="position: relative; top: -209px;">
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-lock-open pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">28 Feb</small>
                                            <h4 class="c-dark">Reset your account password</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-cloud-upload pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">27 Feb</small>
                                            <h4 class="c-dark">Check Dropbox</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-docs pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">27 Feb</small>
                                            <h4 class="c-dark">New document added</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-present pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">26 Feb</small>
                                            <h4 class="c-dark">You receive a gift</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-call-in pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">25 Feb</small>
                                            <h4 class="c-dark">Call Alfred for business</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-calendar pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">25 Feb</small>
                                            <h4 class="c-dark">Appointment at 8pm today</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-rocket pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">24 Feb</small>
                                            <h4 class="c-dark">Trip to Mars begin</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; height: 263px; top: 137px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 263px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-header">
                <h3><i class="icon-list"></i> <strong>校对、审核、批准</strong> 任务</h3>
                <div class="control-btn">
                    <span class="pull-right badge badge-primary">12</span>
                </div>
            </div>
            <div class="panel-content widget-news">
                <div class="withScroll mCustomScrollbar _mCS_4" data-height="400" style="height: 400px;">
                    <div class="mCustomScrollBox mCS-light" id="mCSB_4" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                        <div class="mCSB_container" style="position: relative; top: -209px;">
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-lock-open pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">28 Feb</small>
                                            <h4 class="c-dark">Reset your account password</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-cloud-upload pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">27 Feb</small>
                                            <h4 class="c-dark">Check Dropbox</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-docs pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">27 Feb</small>
                                            <h4 class="c-dark">New document added</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-present pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">26 Feb</small>
                                            <h4 class="c-dark">You receive a gift</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-call-in pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">25 Feb</small>
                                            <h4 class="c-dark">Call Alfred for business</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-calendar pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">25 Feb</small>
                                            <h4 class="c-dark">Appointment at 8pm today</h4>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="message-item media">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="pull-left p-r-10">
                                            <i class="icon-rocket pull-left"></i>
                                        </div>
                                        <div>
                                            <small class="pull-right">24 Feb</small>
                                            <h4 class="c-dark">Trip to Mars begin</h4>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; height: 263px; top: 137px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 263px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>