<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <!--<add key="UploadFilePath" value="D:\PM.std\Upload" />
    <add key="DownloadTempPath" value="D:\PM.std\DownloadTemp" />
    <add key="DBBackupPath" value="D:\PM.std" />
    <add key="IndexArchivePath" value="D:\PM.std\Index\Archive" />
    <add key="IndexFilePath" value="D:\PM.std\Index\File" />
    <add key="ImageUrl" value="http://localhost:8002/api/v1/image/" />
    <add key="WSUrl" value="ws://localhost:8012/notify" />-->

    <add key="UploadFilePath" value="F:\tangl\Upload" />
    <add key="DownloadTempPath" value="F:\tangl\Download" />
    <add key="DBBackupPath" value="F:\tangl\pm.std.db" />
    <add key="IndexArchivePath" value="F:\tangl\Index\Archive" />
    <add key="IndexFilePath" value="F:\tangl\Index\File" />
    <add key="ImageUrl" value="http://218.92.7.147:8050/api/v1/image/" />
    <add key="WSUrl" value="ws://218.92.7.147:8060/notify" />
    
    <add key="LowAccessLevel" value="2" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" />
  </system.web>

  <connectionStrings>

    <add name="DBConnectionStr" connectionString="Initial Catalog=5.0;Data Source=218.93.7.147,14386;user id=sa;password=1234_4321qq" providerName="System.Data.SqlClient" />
    <add name="DMConnectionStr" connectionString="Initial Catalog=document.std;Data Source=218.93.7.147,14386;user id=sa;password=1234_4321qq" providerName="System.Data.SqlClient" />
    <add name="MergeConnectionStr" connectionString="Initial Catalog=merge.std;Data Source=218.93.7.147,14386;user id=sa;password=1234_4321qq" providerName="System.Data.SqlClient" />
  <!--dev_sys1-->
    <!--<add name="DBConnectionStr" connectionString="Initial Catalog=5.0;Data Source=.\sql2008r2;user id=sa;password=pass" providerName="System.Data.SqlClient" />
    <add name="DMConnectionStr" connectionString="Initial Catalog=document.std;Data Source=.\sql2008r2;user id=sa;password=pass" providerName="System.Data.SqlClient" />
    <add name="MergeConnectionStr" connectionString="Initial Catalog=merge.std;Data Source=.\sql2008r2;user id=sa;password=pass" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  
  <unity>
    <namespace name="Api.Framework.Core.Safe" />
    <namespace name="Api.Framework.Core.Config" />
    <namespace name="Api.Framework.Core.File" />
    <namespace name="Api.Framework.Core.User" />
    <namespace name="Api.Framework.Core.Permission" />
    <namespace name="Api.Framework.Core.Organization" />
    <namespace name="Api.Framework.Core.BusinessSystem" />
    <namespace name="Api.Framework.Core.BaseData" />
    <namespace name="Api.Framework.Core.Attach" />
    <namespace name="Api.Framework.Core.Tag" />
    <namespace name="Api.Framework.Core.BizObject" />
    <namespace name="Api.Framework.Core.Chat" />
    
    <namespace name="Api.System.Modules" />
    <namespace name="Api.System.Menu" />
    <namespace name="Api.System.Settings" />
    <namespace name="Api.System.DataBase" />
    
    <namespace name="BPM.DB" />

    <namespace name="PM.Base" />
    <namespace name="PM.Base.Flow" />
    <namespace name="PM.Base.Permission" />

    <namespace name="DM.Base.Service" />
    <namespace name="DM.Base.Permission" />
    
    <assembly name="Api.Framework.Core" />
    <assembly name="Api.System" />
    <assembly name="BPM.DB" />
    <assembly name="PM.Base" />
    <assembly name="DM.Base" />
    
    <containers>
      <container name="PMContainer">

        <register type="WSHandler" mapTo="WSHandler">
          <lifetime type="singleton" />
        </register>
        
        <register type="ITokenManager" mapTo="JsonWebTokenManager"></register>
        <register type="IBaseConfig" mapTo="BaseConfigForDB"></register>
        <register type="IImageGetter" mapTo="DBImageGetter"></register>
        <register type="IFileService" mapTo="FileService"></register>
        
        <register type="ILogin" mapTo="LoginService"></register>
        <register type="IUser" mapTo="UserService"></register>
        <register type="IUserConfig" mapTo="UserConfigService"></register>
        <register type="IPermissionCheck" mapTo="PermissionService"></register>
        <register type="IPermissionPersistence" mapTo="PermissionService"></register>
        <register type="IPermissionOperate" mapTo="PermissionOperate"></register>
        <register type="IDepartment" mapTo="DepartmentService"></register>
        <register type="IRole" mapTo="RoleService"></register>
        <register type="IBusinessSystem" mapTo="BusinessSystemService"></register>
        <register type="IEnum" mapTo="EnumService"></register>
        <register type="IObjectAttachService" mapTo="ObjectAttachService"></register>
        <register type="IObjectTagService" mapTo="ObjectTagService"></register>
        <register type="ISysTagService" mapTo="SysTagService"></register>
        <register type="ISettingsService" mapTo="SettingsService"></register>
        <register type="IDataBaseService" mapTo="DataBaseService"></register>

        <register name="Project" type="ITopBizObject" mapTo="ProjectService"></register>
        <register name="Engineering" type="ITopBizObject" mapTo="EngineeringService"></register>

        <register type="IModule" mapTo="ModuleService"></register>
        <register type="IMenu" mapTo="MenuService"></register>

        <register type="IBPMProcessInstanceService" mapTo="BPMProcessInstanceService"></register>
        <register type="IBPMProcessTaskIDMapService" mapTo="BPMProcessTaskIDMapService"></register>
        <register type="IBPMTaskInstanceService" mapTo="BPMTaskInstanceService"></register>

        <register type="ICustomerService" mapTo="CustomerService"></register>
        <register type="ICustomerPersonService" mapTo="CustomerPersonService"></register>
        <register type="IProjectService" mapTo="ProjectService"></register>
        <register type="IEngineeringService" mapTo="EngineeringService"></register>
        <register type="IContractService" mapTo="ContractService"></register>
        <register type="IContractPayeeService" mapTo="ContractPayeeService"></register>
        <register type="IEngineeringPlanService" mapTo="EngineeringPlanService"></register>
        <register type="IEngineeringSpecialtyService" mapTo="EngineeringSpecialtyService"></register>
        <register type="IEngineeringVolumeService" mapTo="EngineeringVolumeService"></register>
  
        <register type="IEngineeringVolumeCheckService" mapTo="EngineeringVolumeCheckService"></register>
        <register type="IBidService" mapTo="BidService"></register>
        <register type="INotificationService" mapTo="NotificationService"></register>
        <register type="IEngineeringNoteService" mapTo="EngineeringNoteService"></register>
        <register type="IEngineeringResourceService" mapTo="EngineeringResourceService"></register>
        <register type="IEngineeringSpecialtyProvideService" mapTo="EngineeringSpecialtyProvideService"></register>
        <register type="ICalendarService" mapTo="CalendarService"></register>
        <register type="INewsService" mapTo="NewsService"></register>
        <register type="ICarService" mapTo="CarService"></register>
        <register type="ICarUseService" mapTo="CarUseService"></register>

        <register type="IStatistics" mapTo="StatisticsService"></register>
        <register type="IPMPermissionCheck" mapTo="PMPermissionCheck"></register>
    
        <register type="IPMUserTaskService" mapTo="PMUserTaskService"></register>
        
        <!--表单-->
        <register type="IFormChangeService" mapTo="FormChangeService"></register>
        
      </container>

      <container name="DMContainer">

        <register type="IFondService" mapTo="FondService"></register>
        <register type="IArchiveLibraryService" mapTo="ArchiveLibraryService"></register>
        <register type="IFileLibraryService" mapTo="FileLibraryService"></register>
        <register type="IFieldService" mapTo="FieldService"></register>
        <register type="IArchiveNodeService" mapTo="ArchiveNodeService"></register>
        <register type="IArgumentSettingService" mapTo="ArgumentSettingService"></register>
        <register type="IFileDataService" mapTo="FileDataService"></register>
        <register type="IArchiveDataService" mapTo="ArchiveDataService"></register>
        <register type="ILuceneIndexService" mapTo="LuceneIndexService"></register>
        <register type="IDMPermissionCheck" mapTo="DMPermissionCheck"></register>
        <register type="IBorrowService" mapTo="BorrowService"></register>
        <register type="IArchiveLogService" mapTo="ArchiveLogService"></register>
        
        <register type="IDMUserTaskService" mapTo="DMUserTaskService"></register>

        <register type="IBookService" mapTo="BookService"></register>
        
      </container>

      <container name="MergeContainer">
        <register type="Merge.Base.Service.IMProjectService, Merge.Base" mapTo="Merge.Base.Service.MProjectService, Merge.Base"></register>
        <register type="Merge.Base.Service.IMergeTaskService, Merge.Base" mapTo="Merge.Base.Service.MergeTaskService, Merge.Base"></register>
      </container>
      
      <container name="BpmContainer">

        <register name="ProductionOB" type="BPM.Engine.IObservation, BPM.Engine" mapTo="BPMProductionOb"></register>
        <register name="FormOB" type="BPM.Engine.IObservation, BPM.Engine" mapTo="BPMFormOb"></register>
        <register name="ProvideOB" type="BPM.Engine.IObservation, BPM.Engine" mapTo="BPMProvideOb"></register>
        <register name="BPMCarApplyOB" type="BPM.Engine.IObservation, BPM.Engine" mapTo="BPMCarApplyOB"></register>
        
        <register name="ArchiveBorrowOB" type="BPM.Engine.IObservation, BPM.Engine" mapTo="ArchiveBorrowOb"></register>
        <register name="HighArchive" type="BPM.Engine.IAutoTaskExcute, BPM.Engine" mapTo="BPMHighArchiveEx"></register>
        <register name="LowArchive" type="BPM.Engine.IAutoTaskExcute, BPM.Engine" mapTo="BPMLowArchiveEx"></register>

        <register name="Provide" type="BPM.Engine.IOwner, BPM.Engine" mapTo="ProvideOwner"></register>
        <register name="Change" type="BPM.Engine.IOwner, BPM.Engine" mapTo="FormChangeOwner"></register>

        <register name="System3" type="IUserTaskService" mapTo="PMUserTaskService"></register>
        <register name="System2" type="IUserTaskService" mapTo="DMUserTaskService"></register>
        
        <register name="System3" type="IObjectProcessService" mapTo="PMObjectProcessService"></register>
        <register name="System2" type="IObjectProcessService" mapTo="DMObjectProcessService"></register>
        
      </container>

      
    </containers>
  </unity>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

      <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>

    <security>
      <requestFiltering>
        <!--BK-->
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
