<div class="modal-header bg-primary modal-dragable modal-block">
    <button type="button" ng-click="close()" class="close"><i class="icons-office-52"></i></button>
    <h4 class="modal-title">{{maintainService.update ? '更新' : '创建'}}{{maintainService.archiveName == 'Volume' ? "案卷" : "文件"}}</h4>
</div>

<div class="modal-body ">
    <form name="FormMaintain">
        <div class="nav-tabs" ng-init="currentIndex = 1">
            <ul class="nav nav-tabs nav-red">
                <li ng-click="currentIndex = 1" ng-class="{active : currentIndex == 1}"><a data-toggle="tab">{{maintainService.archiveName == 'Volume' ? "案卷" : "文件"}}信息{{currentIndex}}</a></li>
                <li ng-click="currentIndex = 2" ng-show="maintainService.hasProject && maintainService.archiveName == 'Volume'" ng-class="{active : currentIndex == 2}"><a data-toggle="tab">项目信息{{currentIndex}}</a></li>
                <li ng-click="currentIndex = 3" ng-show="maintainService.archiveName == 'File'" ng-class="{active : currentIndex == 3}"><a data-toggle="tab"><i class="fa fa-paperclip"></i> 电子文件{{currentIndex}}</a></li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane p-r-10" data-height="{{modalHeight}}" style="height:{{modalHeight}}px;overflow-y: scroll;overflow-x: hidden;" ng-class="{active : currentIndex == 1}">
                    <div class="row" ng-if="maintainService.archiveName != 'File'">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label ">
                                    访问级别
                                </label>
                                <span class="pull-right" id="info_msg_accessLevel"></span>

                                <ui-select ng-model="archiveInfo.AccessLevel" theme="select2" search-enabled="false" class="form-control form-white">
                                    <ui-select-match placeholder="请选择">{{$select.selected.Text}}</ui-select-match>
                                    <ui-select-choices repeat="item.Value as item in getBaseData('AccessLevel')">
                                        <div ng-bind-html="item.Text"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input class="hide" ng-model="archiveInfo.AccessLevel"
                                       message-id="info_msg_accessLevel"
                                       name="info_msg_accessLevel" validator="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label ">
                                    归档份数
                                </label>
                                <span class="pull-right" id="info_msg_copies"></span>

                                <input ng-model="archiveInfo.Copies" type="text" name="info_msg_copies" class="form-control form-white"
                                       message-id="info_msg_copies"
                                       validator="number">
                            </div>
                        </div>
                        <div class="col-sm-4" ng-if="maintainService.hasCategory">
                            <div class="form-group">
                                <label class="control-label ">
                                    分类号
                                </label>

                                <input ng-model="archiveInfo.Category" type="text" class="form-control form-white">
                            </div>
                        </div>
                    </div>
                    <div class="row"
                         ng-repeat="fieldItem in fields track by $index">
                        <div ng-class="{'col-sm-12' : field.Length >= 200,'col-sm-6' : field.Length < 200}"
                             ng-repeat="field in fieldItem.fields track by field.ID">
                            <div class="form-group">
                                <label class="control-label ">
                                    {{field.Name}}
                                </label>
                                <span class="pull-right" id="info_msg{{field.ID}}"></span>
                                <div ng-switch="field.DataType">
                                    <div ng-switch-when="1">
                                        <input ng-model="field.Value" type="text" name="info_n{{field.ID}}" class="form-control form-white"
                                               message-id="info_msg{{field.ID}}"
                                               validator="number">
                                    </div>
                                    <div ng-switch-when="3" class="append-icon">

                                        <input ng-model="field.Value" type="text" name="info_n{{field.ID}}" class="form-control form-white" date-picker
                                               message-id="info_msg{{field.ID}}"
                                               validator="{{setValidator(field)}}">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <div ng-switch-when="4">
                                        <ui-select ng-model="field.Value" theme="select2" search-enabled="false" class="form-control form-white">
                                            <ui-select-match placeholder="请选择">{{$select.selected.Text}}</ui-select-match>
                                            <ui-select-choices repeat="item.Value as item in getBaseData(field.BaseData)">
                                                <div ng-bind-html="item.Text"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <input class="hide" ng-model="field.Value"
                                               message-id="info_msg{{field.ID}}"
                                               name="info_n{{field.ID}}" validator="required">
                                    </div>
                                    <div ng-switch-default>
                                        <input ng-if="field.Length < 200" ng-model="field.Value" type="text" name="info_n{{field.ID}}" class="form-control form-white"
                                               message-id="info_msg{{field.ID}}"
                                               validator="{{setValidator(field)}}">

                                        <textarea ng-if="field.Length >= 200" ng-model="field.Value" class="form-control form-white"
                                                  name="info_n{{field.ID}}" message-id="info_msg{{field.ID}}"
                                                  validator="{{setValidator(field)}}"
                                                  rows="5"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane"  ng-class="{active : currentIndex == 2}" ng-if="maintainService.hasProject && maintainService.archiveName == 'Volume'"
                     data-height="{{modalHeight}}" style="height:{{modalHeight}}px" scroll="tabPanelScl2" auto="true" >
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="switch pull-right">
                                <input type="checkbox" class="switch-input" ng-model="chooseProj">
                                <span class="switch-label" data-on="选择" data-off="新建"></span>
                                <span class="switch-handle"></span>
                            </label>

                        </div>
                    </div>
                    <div class="row m-t-5" ng-show="chooseProj">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" ng-model="chooseProjectInfo"
                                           placeholder="项目编号、项目名称"
                                           uib-typeahead="item as item._f1 for item in loadProject($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-template-url="customTemplate.html"
                                           class="form-control form-white">
                                    <i class="fa fa-binoculars"></i>
                                </div>
                                <div ng-show="noResults" class="c-blue">
                                    <i class="fa fa-info"></i> 系统没有此项目
                                </div>
                            </div>
                        </div>

                        <script type="text/ng-template" id="customTemplate.html">
                            <a>
                                <span ng-bind-html="match.model._f1 | uibTypeaheadHighlight:query"></span>,
                                <span ng-bind-html="match.model._f2 | uibTypeaheadHighlight:query"></span>
                            </a>
                        </script>
                    </div>
                    <div class="row">
                        <div ng-class="{'col-sm-12' : field.Length >= 200,'col-sm-6' : field.Length < 200}"
                             ng-repeat="field in maintainService.projectFields track by $index"
                             ng-repeat-end="tabPanelScl2.init()">
                            <div class="form-group">
                                <label class="control-label ">
                                    {{field.Name}}
                                </label>
                                <span class="pull-right" id="proj_msg{{field.ID}}"></span>
                                <div ng-switch="field.DataType">
                                    <div ng-switch-when="1">
                                        <input ng-model="field.Value" type="text" name="proj_n{{field.ID}}" class="form-control form-white"
                                               message-id="proj_msg{{field.ID}}"
                                               validator="number">
                                    </div>

                                    <div ng-switch-when="3">
                                        <input ng-model="field.Value" type="text" name="proj_n{{field.ID}}" class="form-control form-white" date-picker
                                               message-id="proj_msg{{field.ID}}"
                                               validator="{{field.NotNull ? 'required' : ''}}">
                                    </div>
                                    <div ng-switch-when="4">
                                        <ui-select ng-model="field.Value" theme="select2" search-enabled="false" class="form-control form-white">
                                            <ui-select-match placeholder="请选择">{{$select.selected.Text}}</ui-select-match>
                                            <ui-select-choices repeat="item.Value as item in getBaseData(field.BaseData)">
                                                <div ng-bind-html="item.Text"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <input class="hide" ng-model="field.Value"
                                               message-id="proj_msg{{field.ID}}"
                                               name="proj_n{{field.ID}}" validator="{{field.NotNull ? 'required' : ''}}">
                                    </div>
                                    <div ng-switch-default>
                                        <input ng-if="field.Length < 200" ng-model="field.Value" type="text" name="proj_n{{field.ID}}" class="form-control form-white"
                                               message-id="proj_msg{{field.ID}}"
                                               validator="{{field.NotNull ? 'required,' : ''}}{{field.Length > 0 ? 'maxlength=' + field.Length : ''}}">

                                        <textarea ng-if="field.Length >= 200" ng-model="field.Value" class="form-control form-white"
                                                  name="proj_n{{field.ID}}" message-id="proj_msg{{field.ID}}"
                                                  validator="{{field.NotNull ? 'required,' : ''}}{{field.Length > 0 ? 'maxlength=' + field.Length : ''}}"
                                                  rows="5"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" style="height:{{modalHeight}}px" ng-class="{active : currentIndex == 3}">
                   
                    <attach-upload name="attachCtl"
                                   obj-id="archiveInfo.ID"
                                   obj-name="ArchiveDoc_{{maintainService.fondsNumber}}_{{maintainService.archiveType}}_File"
                                   uploaded="attachUploaded($attachID,$changeCB)">
                    </attach-upload>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer bg-aero">
    <div ng-show="maintainService.update">
        <button type="button" class="btn btn-primary btn-square "
                ng-disabled="maintainService.archiveInfo.ROWNUMBER == 1"
                ng-click="first()">
            <i class="fa fa-angle-double-left"></i>
            第一条
        </button>
        <button type="button" class="btn btn-primary btn-square "
                ng-disabled="maintainService.archiveInfo.ROWNUMBER == 1"
                ng-click="sub()">
            <i class="fa fa-angle-left"></i>
            上一条
        </button>
        <button type="button" class="btn btn-primary btn-square "
                ng-disabled="maintainService.archiveInfo.ROWNUMBER == maintainService.allCount"
                ng-click="next()">
            下一条
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" class="btn btn-primary btn-square "
                 ng-disabled="maintainService.archiveInfo.ROWNUMBER == maintainService.allCount"
                ng-click="last()">
            最后一条
            <i class="fa fa-angle-double-right"></i>
        </button>
        <button type="button"
                ng-click="save(false)"
                validation-submit="FormMaintain"
                class="btn btn-primary btn-square ">
            <i class="fa fa-save"></i>
            保存
        </button>
        <button type="button"
                ng-click="save(true)"
                validation-submit="FormMaintain"
                class="btn btn-primary btn-square ">
            <i class="fa fa-save"></i>
            保存并退出
        </button>
    </div>
   <div ng-show="!maintainService.update">

       <button type="button"
               ng-click="save(false,FormMaintain)"
               validation-submit="FormMaintain"
               
               class="btn btn-primary btn-square ">
           <i class="fa fa-refresh"></i>
           保存并新增
       </button>
       <button type="button"
               ng-click="save(true)"
               validation-submit="FormMaintain"
               class="btn btn-primary btn-square ">
           <i class="fa fa-save"></i>
           保存并退出
       </button>
   </div>
    
</div>