<div class="row">
    <div class="col-md-6">
        <div class="chart bar-eng-count" category="Phase" title="工程数量阶段统计图"></div>
    </div>
    <div class="col-md-6">
        <div class="chart pie-eng-count" category="Type" title="工程数量类型统计图"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="chart bar-eng-count" category="month" year="2016" title="2016年月度工程数量统计图"></div>
    </div>
    <div class="col-md-6">
        <div class="chart bar-eng-count" category="year" title="年度工程数量统计图"></div>
    </div>
</div>
