<form class=" form-horizontal m-0 " ng-class="{'p-20' : screenModel == 1}">

    <div class="form-group">
        <span class="col-sm-2 p-0 hidden-md"><label class="m-t-10">{{local.bid.bidStatus}}</label> </span>
        <div class="col-sm-10 col-lg-10 col-md-12 ">
            <ui-select ng-model="filter.bidstatus" theme="select2" search-enabled="false" class="form-control form-white">
                <ui-select-match placeholder="{{local.global.choose}}{{local.bid.bidStatus}}">{{$select.selected.Text}}</ui-select-match>
                <ui-select-choices repeat="item.Value as item in getBaseData('BidStatus')">
                    <div ng-bind-html="item.Text"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2 p-0 hidden-md"><label class="m-t-10">{{local.bid.depositStatus}}</label> </span>
        <div class="col-sm-10 col-lg-10 col-md-12 ">
            <ui-select ng-model="filter.depositstatus" theme="select2" search-enabled="false" class="form-control form-white">
                <ui-select-match placeholder="{{local.global.choose}}{{local.bid.depositStatus}}">{{$select.selected.Text}}</ui-select-match>
                <ui-select-choices repeat="item.Value as item in getBaseData('DepositFeeStatus')">
                    <div ng-bind-html="item.Text"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <button type="button"
            ng-click="clearFilter()"
            class="btn btn-danger btn-square  pull-right">
        <i class="fa fa-refresh"></i>
        {{local.global.reset}}
    </button>

</form>