<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><strong>添加</strong> 一个类型</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">类型名称</label>
                <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
            </div>
            <div class="col-md-6">
                <label class="control-label">选择类型颜色</label>
                <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                    <option value="green">绿色</option>
                    <option value="red">红色</option>
                    <option value="blue">蓝色</option>
                    <option value="yellow">黄色</option>
                    <option value="dark">黑色</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-danger btn-embossed save-category" data-dismiss="modal">保存</button>
</div>