<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3>Portlet <strong>One</strong></h3>
            </div>
            <div class="panel-content">
                <p>There are 6 tools that you can add:</p>
                <p>
                    <i class="icon-trash"></i> <strong>REMOVE</strong>: a confirmation box will appear to confirm deleting.
                </p>
                <p>
                    <i class="fa fa-angle-down"></i> <strong>SLIDE UP</strong>: portlets will slide up / down. Just header will stay.
                </p>
                <p>
                    <i class="icon-size-fullscreen"></i> <strong>MAXIMIZE</strong>: portlets will get all the page width and height.
                </p>
                <p>
                    <i class="icons-office-58"></i> <strong>POP UP</strong>: portlets will "detach" from page, that permit move it where you want.
                </p>
                <p>
                    <i class="icon-settings"></i> <strong>SETTINGS</strong>: a dropdown menu that permit you adding other options.
                </p>
                <p>
                    <i class="icon-reload"></i> <strong>RELOAD</strong>: permit to reload portlets content for statistics, messages...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h3>Portlet <strong>Two</strong></h3>
                <div class="control-btn">
                    <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    <a href="#" class="panel-close"><i class="icon-trash"></i></a>
                </div>
            </div>
            <div class="panel-content">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1_11" data-toggle="tab" aria-expanded="true">Home</a></li>
                    <li class=""><a href="#tab1_22" data-toggle="tab" aria-expanded="false">Profile</a></li>
                    <li class=""><a href="#tab1_33" data-toggle="tab" aria-expanded="false">Other Tab</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>