
<div class="modal-header bg-primary">
   
    <h4 class="modal-title"><strong>{{currentUser.Account.Name}}</strong> 修改密码</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal  m-0 p-0">
        <div class="form-group ">
            <label class="col-sm-2 m-t-10">原密码</label>
            <div class="col-sm-10  ">
                <input class="form-control form-white" type="password"
                       name="Number" validator="required"
                       placeholder="{{local.global.input}}"
                       ng-model="oldPsw">
                <span class="sp-validation-error" ng-show="error2">原密码错误</span>
            </div>
        </div>
        <div class="form-group  ">
            <label class="col-sm-2 m-t-10">新密码</label>
            <div class="col-sm-10 ">
                <input class="form-control form-white" type="password"
                       name="Number" validator="required"
                       placeholder="输入新密码"
                       ng-model="newPsw">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 m-t-10">新密码</label>
            <div class="col-sm-10 ">
                <input class="form-control form-white" type="password"
                       name="Number" validator="required"
                       placeholder="重复输入新密码"
                       ng-model="newPsw2">
                <span class="sp-validation-error" ng-show="error1">两次密码输入不匹配</span>
            </div>
        </div>
    </form>
    
</div>
<div class="modal-footer">
    <button class="btn btn-square btn-info" type="button" ng-click="change()">
    <i class="fa fa-save"></i>
    修改</button>
    <button class="btn btn-square btn-danger" type="button" ng-click="close()">
    <i class="fa fa-close"></i>
    关闭</button>
</div>
