
<div style="height:{{panelHeight }}px;">
    <div style="position:relative;float:left;">
        
        <div class="spinner">
            <div class="bounce1" style="background-color:#803232"></div>
            <div class="bounce2" style="background-color:#803232"></div>
            <div class="bounce3" style="background-color:#803232"></div>
            <p class="t-center">
                {{messages[messages.length-1].content}}...
            </p>
        </div>
        
    </div>
    

    
</div>
