<div class="panel ">
    <div class="panel-content " style="height:{{panelHeight}}px">

        <div data-split-pane>
            <div data-split-pane-component>

                <div class="pretty-split-pane-component-inner">

                    借阅
                </div>

            </div>
            <div data-split-pane-divider data-width="5px"></div>
            <div data-split-pane-component data-width="30%">
                <div class="pretty-split-pane-component-inner">


                    我的借阅档案
                </div>

            </div>
        </div>

    </div>

</div>

