
<div class="row">
    <div class="col-md-6">
        <div class="chart " chart-con-count="bar" category="month" year="2015" title="2015年度合同数量统计图"></div>
    </div>
    <div class="col-md-6">
        <div class="chart " chart-con-count="bar" category="year" title="年度合同数量统计图"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="chart " chart-con-fee="line" category="month" fee-type="2" year="2015" title="2015年度合同金额统计图"></div>
    </div>
    <div class="col-md-6">
        <div class="chart " chart-con-fee="line" category="year" fee-type="2" chart="line" title="年度合同金额统计图"></div>
    </div>
</div>
