<div>
    <fieldset class=" m-t-10 m-l-10 m-r-10 p-0 p-l-20 p-r-20">

        <legend>{{local.business.con}}</legend>

        <div class="row m-0 p-t-10">
            <div class="col-sm-2 p-0"> <label>{{local.cust.name}}</label></div>
            <div class="col-sm-10">{{currentCustomer.Name}}</div>
        </div>
        <div class="row  m-0  p-t-10">
            <div class="col-sm-2 p-0"><label>{{local.cust.address}}</label></div>
            <div class="col-sm-10">{{currentCustomer.Address}}</div>
        </div>
        <div class="row m-0  p-t-10">
            <div class="col-sm-2 p-0"><label>{{local.cust.tel}}</label></div>
            <div class="col-sm-10">{{currentCustomer.Tel}}</div>
        </div>

    </fieldset>

    <fieldset class="m-t-10 m-l-10 m-r-10 p-0 p-l-20 p-r-20">
        <legend>支付</legend>

        <div class="row m-0 p-t-10">
            <div class="col-sm-2 p-0"> <label>已支付</label></div>
            <div class="col-sm-10"><span class="label label-info">{{ 1568.23 | money}} &nbsp;{{local.global.unit}}</span> </div>
        </div>
        <div class="row m-0 p-t-10">
            <div class="col-sm-2 p-0"> <label>支付比</label></div>
            <div class="col-sm-9">
                <div class="progress-bar-thin progress-striped">
                    <uib-progressbar class="progress-bar-thin m-t-5  " value="10.5"></uib-progressbar>
                </div>
            </div>
            <div class="col-sm-1 p-0"> <label>10.5%</label></div>
        </div>

    </fieldset>

    <fieldset class="m-t-10 m-l-10 m-r-10 p-0 p-l-20 p-r-20">
        <legend>{{local.business.attach}}</legend>

        <attach-preview obj-id="currentCustomer.ID"
                        obj-name="Customer"></attach-preview>
    </fieldset>


    

</div>