<div class="row">
    <div class="col-sm-3">
        
        <h4 class="title"><label>我的任务</label></h4>
        <ul>
            <li>
                <a data-description="生产任务" ui-sref="home.mytask({type:1})">生产任务</a>
            </li>
            <li>
                <a data-description="表单任务" ui-sref="home.mytask({type:2})">表单任务</a>
            </li>
            <li>
                <a data-description="提资任务" ui-sref="home.mytask({type:3})">提资任务</a>
            </li>
            <li>
                <a data-description="其他任务" ui-sref="home.mytask({type:4})">其他任务</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h4 class="title"><label>特别关注</label></h4>
        <ul>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h4 class="title"><label>最新联系人</label></h4>
        <ul>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h4 class="title"><label>快速访问</label></h4>
        <ul>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
            <li>
                <a data-description="【收资】客户提供地形图" href="#">110Kv输变电工程</a>
            </li>
        </ul>
    </div>
   
</div>