<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3>组织架构 </h3>
            </div>
            <div class="panel-content">
                users
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3>详细 </h3>
            </div>
            <div class="panel-content">
                {{msg}}
            </div>
        </div>
    </div>
</div>