<div class="row m-0 m-b-20">
    <h3 class="m-b-20 m-l-10"><strong>流程</strong></h3>
    <div class="process-view m-l-20">
        <div class="row ">
            <div class="task bg-primary" style="width:80px;">
                <span class="bold c-dark">电气一次</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-red">
                <span class="bold c-dark">卷册A</span>
                
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
        <div class="row m-t-20" style="margin-left:100px;">
            <div class="task bg-red">
                <span class="bold c-dark">卷册A</span>

            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
        <div class="row m-t-20 " style="margin-left:100px;">
            <div class="task bg-primary">
                <span class="bold c-dark">卷册A</span>

            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="task bg-primary" style="width:80px;">
                <span class="bold c-dark">电气二次</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">卷册A</span>

            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
        <div class="row m-t-20" style="margin-left:100px;">
            <div class="task bg-primary">
                <span class="bold c-dark">卷册A</span>

            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
        <div class="row m-t-20 " style="margin-left:100px;">
            <div class="task bg-primary">
                <span class="bold c-dark">卷册A</span>

            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">设计</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-primary">
                <span class="bold c-dark">校对</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-orange">
                <span class="bold c-dark">审核</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
            <div class="icon-arrow-right arrow">
            </div>
            <div class="task bg-aero">
                <span class="bold c-dark">批准</span>
                <p class="text m-t-5 c-dark">
                    张婉娜
                </p>
            </div>
        </div>
    </div>
</div>